	<!-- *****Header***** -->
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-lg-12 logo-thumb-help"><div class="bg-traco"><img class="logo-thumb img-responsive" src="app/img/panda/thumb-logo-2.png" alt="Logo Thumb"></div>
			</div>
				
			<div class="col-lg-12 clearfix">
				<div class="pull-right bloco-icones">
				<span>(11) 94280.3304</span> 
				<a href="#" class="icon-whatsup"><i class="fa fa-whatsapp fa-2x"></i></a>
				<a href="#" data-animation="am-fade-and-scale" ng-click="meuModal()"><i class="fa fa-envelope-o fa-2x"></i></a>	
				<a href="https://www.linkedin.com/company/thumb-digital"><i class="fa fa-linkedin-square fa-2x"></i></a> 
				<a href="https://www.facebook.com/thumbdigital?fref=ts"><i class="fa fa-facebook-official fa-2x"></i></a> 
				<a href="https://twitter.com/thumbdigitalUP"><i class="fa fa-twitter-square fa-2x"></i></a> 
				</div>
			</div>
		</div>
	</div>
	<!-- *****Primeiro Banner***** -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 banner-1 banner-master">
				<header>
					<h1 class="h-conecte">CONECTE. COMPARTILHE. CONSTRUA.</h1>
				</header>
			</div>
		</div>
	</div>
	<!-- *****Primeiro Bloco***** -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="parag-main parag-1">Um site e um perfil no Facebook são suficientes para a sua empresa ser competitiva no mundo digital?</p>
			</div>
			<div class="col-lg-12">
				<img class="img-responsive img-stats" src="app/img/panda/02.png" alt="Estatísticas internet">	
			</div>
			<div class="col-lg-12">
				<p class="parag-main parag-1-2">... e vai mudar amanhã.</p>
			</div>
			<div class="col-lg-12">
				<p class="parag-1-3 parag-2">Seu negócio acompanha essa realidade?</p>
			</div>
		</div>
	</div>
	<!-- *****Segundo Banner***** -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 banner-2 banner-master">
				<header>
					<h2>CONHECIMENTO. ANÁLISE. PLANEJAMENTO.</h2>
				</header>
			</div>
		</div>
	</div>
	<!-- *****Segundo Bloco***** -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive img-tres-perguntas" src="app/img/panda/06.png" alt="Três Perguntas">
			</div>
			<div class="col-lg-12">
				<p class="parag-2 parag-2-line">E, principalmente, saber onde ele está.</p>
			</div>	
	
		</div>
	</div>
	<!-- *****Terceiro Banner***** -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 banner-3 banner-master">
				<header>
					<h3>EXPERTISE. ESTRATÉGIA. RESULTADO.</h3>
				</header>
			</div>
		</div>
	</div>
	<!-- *****Terceiro Bloco***** -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive center-block img-t-b" src="app/img/panda/03.png" alt="Bolhas Redes Sociais">
			</div>
			<div class="col-lg-12">
				
				<p class="parag-main parag-3">Nós falamos a língua do mercado.</p>
				<p class="parag-main">Acreditamos em um fluxo bem estruturado, canais corretos, métricas, estrutura de campanhas e planos de ação.</p>
				
			</div>
			<div class="col-lg-12">
				<img class="img-responsive center-block img-t-b" src="app/img/panda/04.png" alt="Conhecimento Thumb">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img class="img-responsive center-block img-equation" src="app/img/panda/05.png" alt="Equação Thumb">
			</div>
			<div class="col-xs-12 col-sm-6">
				<p class="parag-2 parag-3-2">Aplicamos esse conhecimento para encontrar as melhores oportunidades para seu negócio.</p>
			</div>
		</div>

	</div>
	<!-- *****Quarto Banner***** -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 banner-4 banner-master">
				<header>
					<h4>PESSOALIDADE. IMEDIATISMO. COMPLEMENTARIEDADE.</h4>
				</header>
			</div>
		</div>
	</div>
	<!-- *****Quarto Bloco***** -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="parag-main parag-1">Mais que atendimento personalizado, assumimos juntos o desafio.</p>
				<p class="parag-main parag-1">Nossa experiência em meios digitais possibilita que a estratégia seja ajustada com rapidez e os resultados sustentáveis apareçam.</p>
				<p class="parag-2 parag-4-3">Já vivemos do outro lado da mesa. Sabemos como é.</p>
			</div>
		</div>
	</div>
	<!-- *****Quinto Banner***** -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 banner-5 banner-master">
				<header>
					<h5>REFLITA. COMPARE. DECIDA.</h5>
				</header>
			</div>
		</div>
	</div>
	<!-- *****Quinto Bloco***** -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="parag-main parag-1">O mundo digital é rápido e complexo. Você precisa de especialistas.</p>
				<p class="parag-2">Para a sua ideia virar um negócio Online.</p>
				<p class="parag-2">Para seu negócio Offline andar junto com o Online.</p>
				<p class="parag-2">Para seu negócio Online gerar mais resultados.</p>
				<p class="parag-main parag-1 parag-5-5">Somos uma equipe de gestão de marketing orientada a business performance.</p>
				<p class="parag-2">Somos thumb, <br> oficina de marketing digital.</p>
			</div>
		</div>
	</div>

	<!-- *****Footer***** -->	
	<div class="container-fluid rodape-wrapper">
		<div class="container">
			<div class="row">
				<div class="pull-right rodape">
				<div class="col-lg-12">
					<a href="http://thumb.com.br/blog" target="_BLANK"><i class="fa fa-wordpress fa-2x"></i><span>BLOG</span></a>
					<a href="#" ng-click="meuModal()"><i class="fa fa-envelope-o fa-2x"></i><span>CONTATO</span></a>

				</div>
				</div>
			</div>
		</div>
	</div>
